.card {
    padding: 15px;
}

.content-wrapper {
    margin: 20px;
}

#bill-delete {
    border:none;
    background: none;
    color: red;
    cursor: pointer;
}

#bill-delete-form {
    display: inline;
}